
.customers-list {
  @extend %align;
    justify-content: center;
    padding: 0;
  }
  
  .customers-list__link {
    @extend %align;
    justify-content: center;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 3%;
    width: 170px;
    height: 92px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
      }
  }
  
  .customers-list__item:not(:last-child) {
    margin-right: 30px;
  }
  