header {
    border-bottom: 1px solid #ececec;
  }
  
  .header-container {
    @extend %align;
  }
  
  .navigation {
    @extend %align;
  }
  
  .nav-list {
    @extend %align;
    padding-left: 0;
  }
  
  .header-contacts {
    @extend %align;
    margin-left: auto;
    padding-left: 0;
  }

  .header-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-contacts__link {
    display: flex;
    justify-content: center;
    font-weight: 500;
    @include font (14px, 1.15, 0.02em);
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
&:hover,
&:focus {
  color: var(--accent-color);
}
  }

.tel {
  margin-right: 215px;
}

.contacts__icon {
  margin-right: 10px;
  margin-bottom: 0;
  width: 16px;
  height: 16px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-contacts__link:hover &,
.header-contacts__link:focus & {
  fill: var(--accent-color);
}
}

