:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --accent-color: #2196f3;
    --text-color: #757575;
    --dark-color: #212121;
    --light-color: #ffffff;
  }
